body{
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: #3f5c92;
	display: flex;
	flex-direction: column;
    min-height: 100vh;
	
}
h3 {
	font-weight: normal;
}
.main {
	display: flex;
	justify-content: space-between;
	background-color: #a2bdc0;
	border: 1px solid black;
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	font-size: 18px;
	box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}
.name {
	margin-left: 80px;
}
.Choice {
	flex: 1;
	margin-left: 5px;
}
.record {
	margin-right: 10px;
	font-size: 16px;
}
.connection {
	margin-right: 10px;
    font-size: 16px;
}
.button-main:hover {
	background-color: #88aaae;
	border: none;
	padding: 5px 8px;
	border-radius: 8px;
	cursor: pointer;
}
.button-card:hover {
	background-color: #baced0;
	border: none;
	border-radius: 8px;
	cursor: pointer;	
}
.button-main {
	background-color: #a2bdc0;
	border: none;
	padding: 3px 7px;
}
.button-card {
    background-color: #88aaae;
	border: none;
	padding: 3px 7px;
	cursor: pointer;
	border-radius: 8px;
}
.placeholder-card {
    width: auto;
	margin : 30px auto;
	padding: 10px;
	border: 1px solid black;
	border-radius: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	background-color: #88aaae;
}
.placeholder-card div {
	display: inline-block;
	margin : auto;
	padding: 20px;
	margin-right: 5px;
	margin-left: 5px;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	background-color: #a2bdc0;
}
.placeholder-card img {
	width: 100px;
	margin-top: 15px;
	border-radius: 10%;
}
footer {
	background-color: #a2bdc0;
	color: ;
	text-align: center;
	padding : 5px;
	margin-top: auto;
}